<li>{{material}}
          <div class="well" id="stats">
            <h5 id="material"></h5>
            <h6 id="description"></h6>
            </div>
	{{!-- <button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>
	<button class="delCat" data-id="{{id}}">Delete Kitty!</button> --}}
</li>
